{% for file in pagination.files %}

<article class="post">
    <header class="post-header">
        <h2 class="post-title">
            {% if file.goto %}
            <a href="{{file.goto}}" target="_blank" rel="nofollow"><img src="images/new-window.svg" class="new-window">{{file.title}}</a>
            {% else %}
            <a href="{{file.url}}">{{file.title}}</a>
            {% endif %}
        </h2>
    </header>
    <section class="post-excerpt">
        <p>
            {{file.desc or file.excerpt}}
        <p>
    </section>
    <footer class="post-meta">
        <time class="post-date" datetime="{{file.date | date('YYYY-MM-DD')}}">{{file.date | date('D MMMM YYYY')}}</time>
        {% if file.tags %}
        &middot;
        {% endif %}
        <span class="post-tags">
            {% for tag in file.tags %}
            <a href="/tag/{{tag}}/">{{tag}}</a>
            {% endfor%}
        </span>
    </footer>
</article>

{% endfor %}
