.nav-bg {
	position: fixed;
	display: flex;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid rgba(224,224,224,0.25);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(190,190,190,1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(190,190,190,1);
	box-shadow: 0px 1px 1px 0px rgba(190,190,190,1);

	a {
		text-decoration: none;
	}
}

.site-logo {
	display: flex;
	height: 3rem;
	align-items: center;

	a {
		font-size: 2rem;
		color: $cloud;

		&:hover {
			opacity: 0.8;
		}
	}
}

.nav-container {
	display: flex;


	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// Mobile
@media screen and (max-width: 680px) {
	#hamburger {
		position: fixed;
		top: 0;
		right: 0;
		padding: 1rem 1.5rem;
		cursor: pointer;
		color: #555;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&:hover {
			color: $cloud;
		}
	}

	.nav-container {
		flex-direction: column;
	}

	.site-logo {
		padding-left: 0.8rem;
	}

	.topnav {
		display: none;
		flex-direction: column;
		align-items: center;
		text-align: center;


		li {
			display: flex;
			width: 100%;

			a {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				height: 4rem;
				flex: 1;
				font-size: 2rem;
				background-color: #fff;
				color: #555;

				&:hover {
					color: $cloud;
					background-color: #fafafa;
				}
			}
		}
	}
}

@media screen and (min-width: 681px) {
	#hamburger {
		display: none;
	}

	.nav-container {
		margin: 0 0.8rem;
	}

	.topnav {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;

		li {
			a {
				color: #555;
				margin-left: 4rem;
				font-size: 1.3rem;
				padding: 0.9rem 1rem;

				&:hover {
					color: $cloud;
				}
			}

			&:last-of-type a {
				padding-right: 0;
			}
		}
	}
}
