@import 'normalize5.scss';
@import 'variables';
@import 'navigation';

ul, body, p, article, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.post a {
    color: $cloud;
}

li {
    list-style-type: none;
}

body {
    background-color: $bg;
}

.post {
    background-color: #fff;
    margin: 1rem 0.8rem;
    border-radius: 0.5rem;
    padding: 1rem;
    color: #333;
    border: 1px solid #e1e8ed;

    &:hover {
        background-color: #fbfdff;
    }

    .post-title {
        margin-bottom: 0.7rem;

        a {
            text-decoration: none;
            color: $cloud;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.post-meta {
    .post-date {
        color: #888;
    }

    .post-tags a {
        color: $cloud;
        text-decoration: none;
    }
}

// Defines the width of the page
.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.content-container {
    display: flex;
    flex-direction: column;
    padding-top: 3.5rem;
    height: calc(100vh - 3.5rem);
}

#content {
    flex: 1;
}

.pagination-container {
    text-align: center;
    background-color: #fff;
    margin: 1rem 0.8rem;
    border-radius: 0.5rem;
    padding: 1rem;
    color: #333;
    border: 1px solid #e1e8ed;

}

.site-footer {
    background-color: #fff;
    margin: 1rem 0.8rem 0 0.8rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    padding: 1rem;
    color: #333;
    border-top: 1px solid #e1e8ed;
    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
}
