@import 'normalize5.scss';
@import 'variables';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg;
    color: $space;
}

#content {
    flex: 1;
    padding-top: 4rem;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.page-title > a {
    color: $aluminium;
}

.post-title > a {
    color: $cloud;
}

a {
    text-decoration: none;
    &:hover {
        opacity: 0.8;
    }
}

// Navigation

/* Remove margins and padding from the list, and add a black background color */
.nav-bg {
    position: fixed;
    background-color: #eee;
    width: 100%;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    #hamburger {
        display: none;
    }
    /* Float the list items side by side */
    li {
        float: left;

        &:not(:first-child) {
            float: right;
        }

        /* Hide the list item that contains the link that should open and close the topnav on small screens */
        .icon {
            display: none;
        }

        /* Style the links inside the list items */
        a {
            display: inline-block;
            color: #444;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 17px;

            /* Change background color of links on hover */
            &:hover {background-color: #ddd;}
        }
    }
}

@media screen and (max-width: 680px) {

    ul.topnav {
        #hamburger {
            cursor: pointer;
            display: inline-block;
            float: right;
            position: absolute;
            right: 0;
            top: 0;
        }

        li:not(:first-child) {display: none;} // Everything but the logo gets hidden

        .responsive {
            position: relative;
        }
    }

    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}

@media screen and (min-width: 681px) {
    .content-container, .container {
        max-width: 1000px;
    }
}
